<!DOCTYPE html>
<html>
<head>
  <title>Music Playlist</title>
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Acme&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="../static/style.css">
	


	
</head>


<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">Home</a>
          </div> 
          <ul class="nav navbar-nav">
            <!-- <li class="active"><a href="/d_albums">Create Playlist</a></li> -->
           <!--  <li><a href="#">Playlists</a></li> -->
            <!-- <li><a href="#">Page 2</a></li> -->
          </ul>
          <ul class="nav navbar-nav navbar-right">
           <!--  <a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a> -->
            <li><a href="/loginuser"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          </ul>
        </div>
      </nav>

	<div class="container" align="center"><div class=" hd"><h1 class="m1">Music Playlist</h1></div>


<div><a href="/pop" class="btn btn-info btn-lg b1"><h2>POP</h2></a>  <a href="/newrelease" button type="button" class="btn btn-warning btn-lg b2"><h2>NEW <br>RELEASES</h2></button></a></div>
<br>
<div><a href="/bollywood" button type="button" class="btn btn-danger btn-lg b3"><h2>BOLLY <br>WOOD</h2>  </button></a>  <a href="/classical" button type="button" class="btn btn-success btn-lg b4"><h2>CLASSICAL</h2></button></a></div>
<br>
<div><a href="/rock" button type="button" class="btn btn-info btn-lg b5"><h2>ROCK</h2> </button></a>   <a href="/edm" button type="button" class="btn btn-secondary btn-lg b6"><h2>EDM</h2></button></a></div> 
	</div>
</body>
</html>