<!DOCTYPE html>
<html>
<head>
	<title>Login form</title>
	<link rel="stylesheet" href="../static/loginuser.css">

</head>

<body>
<form class="active" method="POST">
	<div class="container">
		<h1>Login In</h1>
		<hr>

	

		<label for="email"><b>Email</b></label>
		<input type="text" id="email"  placeholder="Enter Email" name="email" required>

		<label for="psw"><b>Password</b></label>
    <input type="password" id="psw" placeholder="Enter Password" name="psw" required>

   
		
    <div class="clearfix">
      <button type="button" class="cancelbtn">Cancel</button>
      <button type="submit" class="signupbtn">Login</button>
    </div>

	<div class="container signin">
		<p>Are you a new user?<a href="/reg">Register here</a>.</p>
	  </div>

</div>

	

	
</form>
</body>
</html>