<!DOCTYPE html>
<html>
<head>
	<title>Register form</title>
<link rel="stylesheet" href="../static/reg.css">
</head>
<body>
<form method="POST">
	<div class="container">
		<h1>Register</h1>
		<hr>

		<label for="name"><b>Name</b></label>
		<input type="text" placeholder="Enter Name" name="name" required>

		<label for="email"><b>Email</b></label>
		<input type="text"  placeholder="Enter Email" name="email" required>

		<label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>


    <label for="ph"><b>Phone number</b></label>
		<input type="text" placeholder="+91" name="phone" required>
		

		<button type="submit" class="registerbtn">Register</button>


	</div>


	<div class="container signin">
    <p>Already have an account? <a href="/loginuser">Log in</a>.</p>
  </div>
</form>
</body>
</html>